* {
	margin: 0;
	padding: 0;
}
.display-content {
	float: left;
}
#content {
	display: block;
	height: 800px;
}

.exercises {
	width: 25%;
	float: left;
	height: 700px;
	border: 2px solid black;
	overflow-y: scroll;
	margin: 20px;
}

h1, h4 {
	text-transform: uppercase;
}

h1#header {
	margin-left: 20px;
}

.week-container {
	border: 1px solid black;
	width: auto;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

ul {
	margin-left: 20px;
}

.week-container ul li {
	color: #6495ed;
}

.week-container ul li:active {
	color: #FF7575;
}
