
@font-face {
  font-family: 'Latin-Modern-Roman';
  src: url('fontface/Latin-Modern-Roman-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-variant: normal;
}

@font-face {
  font-family: 'Latin-Modern-Roman';
  src: url('fontface/Latin-Modern-Roman-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'Latin-Modern-Roman';
  src: url('fontface/Latin-Modern-Roman-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

@font-face {
    font-family: 'Latin-Modern-Mono-Light';
    src: url('fontface/Latin-Modern-Mono-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
  margin: 0;
  height: 100%;
  background: #FCFCFC;
}

article {
  margin: 30px auto;
  padding: 10px;
  max-width: 600px;
  border: 1px solid #777;
  background: #FFF;

  font-family: 'Latin-Modern-Roman';
  font-size: 12pt;

  counter-reset: h1;
}

article canvas {
  margin: 0 auto;
  display: block;
}

article code {
  font-size: inherit;
}

article h1 {
  font-size: 18pt;
  counter-reset: h2;
}
article h1::before {
  content: counter(h1) " ";
  counter-increment: h1;
}

article h2 {
  font-size: 15pt;
  counter-reset: h3;
}
article h2::before {
  content: counter(h1) "." counter(h2) " ";
  counter-increment: h2;
}

article h3 {
  font-size: 13pt;
}
article h3::before {
  content: counter(h1) "." counter(h2) "." counter(h3) " ";
  counter-increment: h3;
}

article iframe {
  margin: 0 auto;
  display: block;
  transform: scale(0.5);
}

iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}
